/*margins*/
body{
	margin-left: 15%;
	margin-right: 15%;
	font-family: bell mt, univers, helvetica nueue;
	padding-bottom: 10%;
}
.header{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}
#mfu{
	margin-left: 45%;
	width: 10%
}
.container{
	display: block;
	margin-top: 2%;
	
}
.photo{
	width:100%;
	padding-bottom: 5%;
}
.information{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	width: 50%;
}
a{
	color: inherit;
}